* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1500px;
}

@font-face {
  font-family: Arial;
  src: url(../fonts/ofont.ru_Arial.ttf);
}
body {
  font-family: Arial, sans-serif;
}
body a {
  text-decoration: none;
}
body header nav .top-header {
  background: #131921;
  padding: 4px 0;
}
body header nav .top-header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
body header nav .top-header .top a {
  border: 1px solid #131921;
  transition: 0.3s;
  cursor: pointer;
}
body header nav .top-header .top a img {
  width: 113px;
}
body header nav .top-header .top a:hover {
  border: 1px solid white;
  border-radius: 2px;
}
body header nav .top-header .top .btn-model {
  display: flex;
  align-items: center;
  align-items: end;
  background: transparent;
  padding: 8px;
  border: none;
  gap: 4px;
  border: 1px solid #131921;
  transition: 0.3s;
  cursor: pointer;
}
body header nav .top-header .top .btn-model:hover {
  border: 1px solid white;
  border-radius: 2px;
}
body header nav .top-header .top .btn-model img {
  width: 15px;
}
body header nav .top-header .top .btn-model span {
  display: flex;
  flex-direction: column;
  align-items: start;
}
body header nav .top-header .top .btn-model span h6 {
  font-size: 12px;
  color: #cccccc;
}
body header nav .top-header .top .btn-model span h5 {
  font-size: 14px;
  color: white;
}
body header nav .top-header .top .center {
  background-color: #e6e6e6;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  border-radius: 8px;
  position: absolute;
  z-index: 100;
  width: 373px;
  display: none;
}
body header nav .top-header .top .center .teppa {
  padding: 24px;
  background: #f0f2f2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: flex-start;
}
body header nav .top-header .top .center .teppa h5 {
  font-size: 16px;
}
body header nav .top-header .top .center .orta {
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
body header nav .top-header .top .center .orta p {
  text-align: start;
  font-size: 12px !important;
  line-height: 20px;
  margin-bottom: 8px;
  color: #636565;
}
body header nav .top-header .top .center .orta span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
body header nav .top-header .top .center .orta span div {
  width: 90px;
  border: 0.5px solid #636565;
  margin-bottom: 8px;
}
body header nav .top-header .top .center .orta .sign-in {
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  background: #ffd814;
  font-size: 12px;
  display: flex;
  color: #131921;
  cursor: pointer;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
body header nav .top-header .top .center .orta .apply {
  display: flex;
  align-items: center;
  gap: 10px;
}
body header nav .top-header .top .center .orta .apply input {
  width: 100%;
  outline: none;
  border-radius: 4px;
  height: 29px;
  border: 1px solid #636565;
  padding: 0 8px;
}
body header nav .top-header .top .center .orta .apply input:focus {
  box-shadow: 2px 2px 10px rgb(130, 185, 209);
}
body header nav .top-header .top .center .orta .apply button {
  padding: 0 36px;
  height: 31px;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 8px;
  cursor: pointer;
}
body header nav .top-header .top .center .orta #uz {
  background-color: #f0f2f2;
  height: 29px;
  border-radius: 8px;
  padding-left: 8px;
}
body header nav .top-header .top .center .orta .btn-close {
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  background: #ffd814;
  font-size: 12px;
  display: flex;
  border: none;
  color: #131921;
  cursor: pointer;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  width: 52px;
  font-size: 13px;
  height: 29px;
  margin-left: 273px;
  margin-top: 20px;
}
body header nav .top-header .top form {
  position: relative;
  display: flex;
  align-items: center;
  border: 3px solid #131921;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
body header nav .top-header .top form button {
  border: none;
}
body header nav .top-header .top form .c {
  background: #febd69;
  width: 45px;
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  right: 2px;
  cursor: pointer;
}
body header nav .top-header .top form .all {
  background: #e6e6e6;
  width: 45px;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  left: 1.7px;
  top: 1.7px;
  width: 50px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 1;
}
body header nav .top-header .top form .search {
  width: 24px;
  margin-top: 4px;
  margin-right: -4px;
}
body header nav .top-header .top form input {
  box-sizing: content-box;
  height: 40px;
  outline: none;
  bottom: none;
  padding: 0 60px;
  width: 760px;
  border-radius: 10px;
  border: 2px solid #232f3e;
}
body header nav .top-header .top form input:focus {
  border: 2px solid #febd69;
}
body header nav .top-header .top .right {
  display: flex;
  align-items: center;
}
body header nav .top-header .top .right .language {
  padding: 8px;
  border: 1px solid #131921;
  transition: 0.3s;
  padding-top: 20px;
  cursor: pointer;
}
body header nav .top-header .top .right .language select {
  background: transparent;
  color: white;
  border: none;
}
body header nav .top-header .top .right .language:hover {
  border: 1px solid white;
  border-radius: 2px;
}
body header nav .top-header .top .right .language img {
  width: 21.6px;
}
body header nav .top-header .top .right .language span {
  color: white;
  font-size: 14px;
}
body header nav .top-header .top .right .text {
  padding: 8px;
  border: 1px solid #131921;
  transition: 0.3s;
  cursor: pointer;
}
body header nav .top-header .top .right .text:hover {
  border: 1px solid white;
  border-radius: 2px;
}
body header nav .top-header .top .right .text h6 {
  font-size: 12px;
  color: white;
}
body header nav .top-header .top .right .text h5 {
  font-size: 14px;
  color: white;
}
body header nav .top-header .top .right .basket {
  display: flex;
  align-items: flex-end;
  padding: 8px;
  border: 1px solid #131921;
  transition: 0.3s;
  cursor: pointer;
}
body header nav .top-header .top .right .basket:hover {
  border: 1px solid white;
  border-radius: 2px;
}
body header nav .top-header .top .right .basket img {
  width: 50px;
}
body header nav .top-header .top .right .basket h5 {
  font-size: 14px;
  color: white;
}
body header nav .bottom-header {
  background: #232f3e;
  padding: 8px 0;
}
body header nav .bottom-header .nav-items {
  width: 365px;
  height: 100vh;
  background: white;
  margin-left: -500px;
  transition: 0.7s linear;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
body header nav .bottom-header .nav-items .bx-x {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: -50px;
}
body header nav .bottom-header .nav-items .menu-top {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  background: #232f3e;
}
body header nav .bottom-header .nav-items .menu-top img {
  width: 25px;
  height: 25px;
  margin-left: 40px;
  font-weight: 700;
}
body header nav .bottom-header .nav-items .menu-top span {
  font-size: 19px;
  color: white;
}
body header nav .bottom-header .nav-items .menu-bottom {
  margin: 0px 40px;
}
body header nav .bottom-header .nav-items .menu-bottom h3 {
  color: #111111;
  font-size: 18px;
  margin-top: 20px;
}
body header nav .bottom-header .nav-items .menu-bottom ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  list-style: none;
}
body header nav .bottom-header .nav-items .menu-bottom ul li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
body header nav .bottom-header .nav-items .menu-bottom ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
}
body header nav .bottom-header .nav-items .menu-bottom ul li img {
  width: 10px;
  height: 14px;
  cursor: pointer;
}
body header nav .bottom-header .menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
body header nav .bottom-header .menu .all {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
body header nav .bottom-header .menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
body .black {
  position: absolute;
  width: 197.63vh;
  height: 100vh;
  z-index: -10;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}
body main #hero {
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body main #hero .hero {
  display: flex;
  align-items: flex-end;
  height: 660px;
  padding-bottom: 10px;
}
body main #hero .hero .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
body main #hero .hero .cards .card {
  padding: 20px 15px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body main #hero .hero .cards .card h4 {
  font-size: 21px;
}
body main #hero .hero .cards .card .list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 24px;
}
body main #hero .hero .cards .card .list .m {
  width: 100%;
}
body main #hero .hero .cards .card .list .list-item {
  display: flex;
  flex-direction: column;
}
body main #hero .hero .cards .card .list .list-item img {
  width: 155px;
}
body main #hero .hero .cards .card .list .list-item p {
  font-size: 12px;
  margin-top: 5px;
}
body main #hero .hero .cards .card .list .list-item .h {
  width: 100px;
}
body main #hero .hero .cards .card .list .b {
  width: 300px;
}
body main #hero .hero .cards .card a {
  text-decoration: none;
  color: #007185;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */